<head>
  <%#= javascript_include_tag "fullcalendar/main.min.js" %>
  <%#= javascript_include_tag "fullcalendar/ja.js" %>
</head>

<div id="detail-area"></div>
<div id="calendar">
</div>

<%#= javascript_include_tag "schedule.js" %>
<%#= javascript_include_tag "_resize.js" %>