/*タブレット用（md-lg）*/

/*共通*/
html {
  font-size: 10px;
}

.top-wrapper {
  width: 100vw;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-color: #a2efef;
  h1 {
    font-size: 7rem;
  }
  h2 {
    font-size: 3.6rem;
    margin-top: 7rem;
    margin-bottom: 4rem;
  }
  input[type="search"] {
    -webkit-appearance: searchfield;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    cursor: pointer;
  }
}
.text-black {
  color: #000;
}
.btn-black {
  color: #000;
  border: 1px solid #000;
  
  &:hover {
    color: #000;
  }
}
.alert {
  margin-bottom: 0px;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

/*Topページ*/
.top-container {
  padding-top: 10rem;
  padding-bottom: 4rem;
}
.btn-black {
  font-size: 2rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  border-radius: 2.2rem;
  margin-top: 14rem;
}
.public-com-container {
  p1 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 2.4rem;
    margin: 5rem auto 0 auto;
    width: 60%;
    background-color: gray;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.table {
  margin-bottom: auto;
}
.table td {
  font-size: 2.0rem;
  /*border: solid 1px black;*/
  /*margin: 1rem 0 1rem 0;*/
  white-space: nowrap; /*セル内の自動改行・折り返しの禁止、または空白類文字（改行、半角スペース、タブ）の扱いをなくす*/
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  vertical-align: middle;    /*上下中央寄せ*/
}
.box_scrollbar {
  display: block;
  overflow: auto;
  width: 60%;
  height: 25rem;
  margin: auto;
  border: solid 1px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  .btn-light {
    border: 1px solid;
  }
}
.community-image {
  margin: auto;
  width: 3.4rem;
  height: 3.44rem;
}
.detail-btn {
  display: block;
  vertical-align: middle;
}

/*コミュニティ詳細検索ページ/コミュニティ検索結果一覧ページ*/
.com-show-container {
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.communities_list {
  display: block;
  overflow: auto;
  width: 70%;
  height: 40rem;
  margin: auto;
  border: solid 1px;
  border-radius: 4px;
  .btn-light {
    border: 1px solid;
  }
}
.text-charcoal {
  color: #2a2a2a;
}

/*アカウント作成等入力フォームページ*/
.form-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  h4 {
    font-size: 3.6rem;
    margin-top: 7rem;
  }
  .label-text {
    font-size: 1.8rem;
  }
  .help-text {
    font-size: 1.8rem;
    color: red;
  }
  .btn-primary {
    font-size: 2rem;
    margin-top: 4.4rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.5rem;
  }
  .btn-secondary {
    font-size: 2rem;
    margin-top: 2.6rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    border-radius: 0.5rem;
    color: #ffffff;
    background-color:#0a83ff;
    border-color:#0a83ff;
  }
  p2, .form-check-label {
    font-size: 1.6rem;
  }
  .form-check-input {
    width: 1.6rem;
    height: 1.6rem;
    margin-top: 0.4rem;
    margin-left: 0.1rem;
    cursor: pointer;
  }
  .form-check-label {
    padding-left: 2.4rem;
    cursor: pointer;
  }
}

/*ログインページ*/
.btn-secondary:hover {
  background-color: #1d6bdd;
  border-color: #1d6bdd;
}

/*メインページ*/
// The side navigation menu
.sidenav {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  top: 0; /* Stay at the top */
  left: 0;
  z-index: 11;
  background: #a2efef;
  text-align: left;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a:hover {
  //background-color: #85d1d1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
  padding-left: 0rem;
  padding-right: 0rem;
  height: 4.6rem;
  width: 4.6rem;
  background: #a2efef;
  border: none;
  cursor: pointer;
}

// ドロップダウン
/*.sidenav .dropdown-btn .deep-dropdown-btn {
  //padding: 6px 8px 6px 16px;
  width: 100%;
}*/
.dropdown-container {
  display: none;
  a {
    font-weight: 600;
  }
}
.deep-dropdown-container {
  display: none;
  a {
    padding-left: 5.6rem;
    font-weight: normal;
  }
}
.fa-caret-right {
  margin-right: 4px;
  //transform: rotate(-90deg);
  -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

// サイドオープン時にメインコンテンツを覆う部分
.overlay_container {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  z-index: 10;
}
.overlay {
  visibility: visible;
  background: rgba(0,0,0,.2);
  //-webkit-transform: translate3d(250px, 0, 0);
  //transform: translate3d(250px, 0, 0);
}

// (Sticky) Navbar
#navbar {
  display: flex;        //上下中央寄せ
  align-items: center;  //  　〃
  height: 5rem;
  background-color: #fff;
  border-bottom: solid 1px #aeaeae;
  overflow: hidden;
}
#navbar button {
  float: left;
  padding: 0.8rem 1.2rem;
  border: 0px;
  background: #fff;
  cursor: pointer;
}
#navbar a {
  float: left;
  display: block;
  //color: #f2f2f2; //選択中のチャンネルの文字の色
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
}

// メインコンテンツ
.main-container {
  //padding-top: 5rem;
  padding-bottom: 10rem;
}
.new_thread-btn {
  position: fixed;
  top: 65rem;
  left: 80rem;
  height: 7rem;
  width: 7rem;
  border: solid 1px #222;
  border-radius: 50%;
  background-color: #a2efef;
  box-shadow: 0 0 2px gray;
  z-index: 2;
  .bi-card-text {
    height: 3.2rem;
    width: 3.2rem;
    text-align: center;
  }
}


/*チャンネル作成ページ*/
.color-label {
  margin-right: 2rem;
  margin-bottom: 3rem;
}
#description {
  //height: 12rem;
}
#help-text {
  font-size: 1.4rem;
}
.radio-box {
  margin-left: 1.8rem;
}
.radiobutton {
  //margin-left: 20px;
  cursor: pointer;
}
input[ type=radio ] {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
}
.radio-label {
  font-size: 1.6rem;
  padding-right: 1.2rem;
  vertical-align: middle;
  cursor: pointer;
}

/*スレッド作成ページ*/
.from-to {
  font-size: 1.6rem;
  margin-top: 3.5rem;
  text-align: center;
}
.upslide {
  margin-top: -6.3rem;
}
//datepicker
.class-sunday {
  color: red !important;
}
.class-saturday {
  color: blue !important;
}
.datepicker-days {
  width: 34rem;
  height: 34rem;
}
.datepicker table {
  width: 34rem;
  height: 34rem;
}


/* カレンダー */
#calendar{
  margin: 3.3rem;
  
  .fc-left {
    h2 {
      font-size: 2.4rem;
    }
  }
}
#detail-area {
	display: none;
	width: 35rem;
	height: 26rem;
	background-color: #F5FCFE;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: 11;
	padding: 2.2rem 3rem 2rem 3rem;
	border: solid 1px #333;
	border-radius: 2rem;
	box-shadow: 2px 2px 3px #222;
	font-size: 1.6rem;
	font-weight: 600;
	.close-box {
	  height: 3.2rem;
	}
	.fa-times-circle {
	  width: 2.8rem;
	  margin-top: -0.8rem;
	  margin-right: -1.6rem;
	  font-size: 2.8rem;
	}
	.fa-pen {
	  width: 2rem;
	  margin-right: 1.8rem;
	  font-size: 1.8rem;
	}
	.fa-calendar-alt,
	.fa-check-square {
	  width: 2rem;
	  margin-right: 1.8rem;
	  font-size: 2.0rem;
	}
	.fa-map-marker-alt {
	  width: 1.91rem;
    margin-left: 0.09rem;
    margin-right: 1.8rem;
    font-size: 2.0rem;
  }
  .allday-false-timerange {
    width: 14rem;
    margin-left: 10rem;
  }
  .daterange-true {
    margin-left: 5rem;
  }
	p {
	  margin-bottom: 2rem;
	}
}


.text-gray {
  color: #777;
}

/*テスト*/

.header-title-area {
  margin-top: 40px;
  margin-bottom: 30px;
}



/*コメント機能*/
.comment {
  display: flex;
  width: 35rem;
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 6px;
}
.comment-left {
  margin-right: 1rem
}
.comment-right {
  
}
.comment-avatar {
  width: 3rem;
  height: 3rem;
}
.comment-buttons {
  font-size: smaller;
  text-align: right;
}
.comment-button:not(:last-child) {
  margin-right: 0.5rem;
}